*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(240, 180, 132); 
    --secondary-color: rgba(253, 254, 255, 0.7);
}
body{
    background-color: var(--primary-color);
}
li{
    list-style: circle;
}
.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container{
    max-width: 500px;
    margin: 50px auto;
    background-color: var(--secondary-color);
}
.list-space, header {
    background-color: var(--secondary-color);
}
.list-space{
        min-height: 300px;
}
#point{
    display: block;
    max-width: 65px;
}
